.profile{
    display:flex;
    flex-direction: row;
    height:fit-content;
    width: fit-content;
    align-items: center;
    margin-top:-200px;
    
}

.profile-left{
    display:flex;
    flex-direction:column;
    width:fit-content;
}

.profile-center{
    display:flex;
    flex-direction:column;
    width:fit-content;
}

.profile-right{
    display:flex;
    flex-direction:column;
    width:fit-content;
}

.container-profile{
    border-radius:12px;
    background-color: #eee;
    padding:10px;
    margin:20px;
    align-items: center;
    width:fit-content;
    height:fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}