*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

header{
  display:flex;
  gap:5px;
  justify-content:space-between;
}

header a{
  color: #294243;
  text-decoration:none;
  font-weight:bold;
  vertical-align: middle;
  margin:5px;
}

.row{
  display:flex;
}

.column{
  flex:33%;
  padding:15px;
  margin: bottom 3px;
  justify-content:center;
}

.center{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:50%;
}

.verticalLine {
  border-left: solid #294243;
}

div.box{
  position:relative;
  background-color:#8BBE96;
  color:#FFFFFF;
  padding:20px;
  height:600px;
}

footer{
  padding:60px;
  text-align:right;
  max-width: 1000px;
}

footer a{
  color:#294243;;
  text-decoration:none;
}

footer a img{
  max-width:40%;
}

ul{
  list-style-type:none;
  margin:0;
  padding:0;
}

ul.navbar{
  list-style: none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:#294243;
}

li{
  float:left;
}

li a{
  display:block;
  color:#ffffff;
  background-color:#294243;
  text-decoration: none;
  font-weight:bold;
  padding:14px 16px;
}

li a:hover{
  background-color: #8BBE96;
}