.footer{
    width:100%;
    background: #eee;
    margin-top:100px;
    margin-bottom:20px;
    align-items: center;
    padding:50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.footer-logo{
    float:right;
    width:180px;
    margin-right:50px;
}

.link{
    text-decoration: none;
    color:#294243;
}

.link:hover{
}