.selfserve{
    align-items: center;
}

h1.selfserve{
    text-align:center;
}

h3.selfserve{
    font-family:"Poppins", sans-serif;
    text-align:center;
    font-size:1.5rem;
}

.containerselfserve{
    display:flex;
    flex-direction:row;
    border-radius:12px;
    background-color: #eee;
    margin: 80px 180px 80px 180px;
    padding:20px;
    width:fit-content;
    height:fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 300ms ease;
}
        
.containerselfserve:hover, .containerselfserve:focus-within {
    transform: scale(1.05);
}

.selfserveleft{
    align-items: center;
    display:flex;
    flex-direction:column;
    padding:50px;    
}

.selfserveright{
    align-items: center;
    display:flex;
    flex-direction:column;
    padding:50px;
}

img.selfserve{
    width:60%;
}

