.login{
    height:fit-content;
    align-items: center;
    width: fit-content;
    color:var(--green-dark-striveopp);
}

.containerlogin{
    display:flex;
    flex-direction: row;
    align-items: center;
    text-align:center;
    flex-direction:row;
    border-radius:12px;
    background-color:#eee;
    padding:40px;
    margin:-250px 180px 180px 180px;
    width:fit-content;
    height:fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loginright{
    display:flex;
    flex-direction:column;
}

.loginleft{
    display:flex;
    flex-direction:column;
}

img.loginleft{
    width:100%;
    margin:10px;
    align-items: center;
}

.loginquestion{
    margin:10px;
    text-align:center;
}