.contact{
    display:flex;
    flex-direction:row;
    height:fit-content;
    align-items: center;
    width: fit-content;
    color:var(--green-dark-striveopp);
    margin-top:-210px;
}

.container-contact{
    display:flex;
    flex-direction: row;
    border-radius:12px;
    background-color: #eee;
    padding:40px;
    margin:40px;
    width:fit-content;
    height:fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contactleft{
    display:flex;
    flex-direction: column;
}

.contactright{
    display:flex;
    flex-direction: column;
}

