.contact{
    margin-top:-400px;
    height:fit-content;
    align-items: center;
    width: 100%;
    color:var(--green-dark-striveopp);
}

.container-contact{
    display:flex;
    flex-direction: row;
    border-radius:12px;
    background-color: #eee;
    padding:100px;
    margin:100px;
    width:fit-content;
    height:fit-content;
}

.contactright{
    display:flex;
    flex-direction: column;
}

.contactleft{
    display:flex;
    flex-direction: column;
}