.info{
    height:fit-content;
    align-items:center;
    width: fit-content;
}

.container-info{
    border-radius:12px;
    background-color: #eee;
    padding:20px;
    margin: -170px 180px 0 180px;
    width:fit-content;
    height:fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 300ms ease;
}
        
.container-info:hover, .container-info:focus-within {
    transform: scale(1.05);
}

.info-left{
    display:flex;
    flex-direction:column;
    text-align:center;
    background-color: #eee;
    padding:20px;
}

.info-right{
    display:flex;
    background-color: #eee;
    text-align:center;
    align-items:center;
    padding:95px 40px 40px 40px;
}

.info-left>:nth-child(1){
    text-align:center;
    font-family:'Oswald', sans-serif;
    font-weight:bold;
    font-size:7rem;
    background-color: #eee;
}

.info-left>:nth-child(2){
    text-align:center;
    font-size:1.7rem;
    background-color: #eee;
    width:90%;
}

.info-left>:nth-child(3){
    width:70%;
    margin-top:-20px;
    margin-bottom:-20px;
    transition: transform 300ms ease;
}
        
.info-left>:nth-child(3):hover, .info-left>:nth-child(3):focus-within {
    transform: scale(1.05);
}

.info-left>:nth-child(4){
    margin-bottom:30px;
    text-align:center;
    font-size:1rem;
    background-color: #eee;
    width:80%;
}