.inthenews{
    align-items: center;
}

h1.inthenews{
    text-align:center;
    align-items: center;
}

.container-inthenews{
    align-items: center;
    border-radius:12px;
    background-color: #eee;
    padding:50px;
    margin: 80px 180px 80px 180px;
    height:fit-content;
    display:flex;
    flex-direction:row;
    width:fit-content;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

